<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Pantry Pals</title>
     <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'
      rel='stylesheet'
    />

    <style>
      .image-container { display: flex; justify-content: center; align-items:
      center; margin: 2rem auto; max-width: 900px; padding: 20px;
      background-color: #f5f5f5; border-radius: 8px; box-shadow: 0 4px 8px
      rgba(0, 0, 0, 0.1); } .image-container img { width: 100%; height: auto;
      border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); transition:
      transform 0.3s ease; }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class='navbar' role='navigation' aria-label='main navigation'>
        <div class='navbar-menu is-active'>
          <div class='navbar-start'>
            <div class='navbar-item'>
              <div class='buttons is-fullwidth'>
                <a class='button is-light is-fullwidth' href='/'>Home</a>
              </div>
            </div>
            <div class='navbar-item'>
              <div class='buttons is-fullwidth'>
                <a class='button is-light is-fullwidth' href='/leaderboard'>Leaderboard</a>
              </div>
            </div>
            {{#if logged_in}}
            <div class='navbar-item'>
              <div class='buttons is-fullwidth'>
                <a class='button is-light is-fullwidth' href='/dashboard'>Dashboard</a>
              </div>
            </div>
            {{/if}}
          </div>
          <div class='navbar-end'>
            <div class='navbar-item'>
              <div class='buttons is-fullwidth'>
                {{#if logged_in}}
                  <a class='button is-light is-fullwidth' href='/logout'>Logout</a>
                {{else}}
                  <a class='button is-primary is-fullwidth' href='/signup'>
                    <strong>Sign up</strong>
                  </a>
                  <a class='button is-light is-fullwidth' href='/login'>
                    Log in
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}

      <section class='section'>
        <div class='container'>
          <div class='image-container'>
            <img src='/assets/food_image.png' alt='Image 1' />
          </div>
        </div>
      </section>
    </main>

    
  </body>
</html>