<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to <br><span class="has-text-info" id="logo">pantry<br>pals</span>
            </h1>
            <p class="subtitle">
                Take control of your pantry with ease.
            </p>
            <p class="content">
                Our web service empowers you to manage your groceries efficiently by tracking expiration dates and sending timely alerts before items expire. Minimize food waste and maximize your grocery savings.
            </p>
            <a href="/signup" class="button is-info is-large">
                Get Started
            </a>
        </div>
    </div>
</section>
