<section class="section">
    <div class="container">
        <h2 class="title is-2">Login</h2>
        <form id="login-form">
            <div class="field">
                <label class="label" for="email">Email:</label>
                <div class="control">
                    <input class="input" type="email" id="email" name="email" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password">Password:</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</section>
<script src='/js/login.js'></script>
