<section class="section">
    <div class="container">
        <h2 class="title is-2">Sign Up</h2>
        <form id="signup-form">
            <div class="field">
                <label class="label" for="name">Name:</label>
                <div class="control">
                    <input class="input" type="text" id="name" name="name" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="email">Email:</label>
                <div class="control">
                    <input class="input" type="email" id="email" name="email" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password">Password:</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</section>
<<<<<<< HEAD
    <script src='/js/signup.js'></script>
=======
<script src='/js/signup.js'></script>
>>>>>>> main
